<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <h1>Articles</h1>
        <a href = "/add-article">/add-article</a>
        <ul>
            <li>
                <a href = "/articles/1">/articles/1</a>
                <a href = "/edit-articles/1">Edit</a>
                <a href = "/delete-articles/1">Delete</a>
            </li>
            <li>
                <a href = "/articles/2">/articles/2</a>
                <a href = "/edit-articles/2">Edit</a>
                <a href = "/delete-articles/2">Delete</a>
            </li>
            <li>
                <a href = "/articles/3">/articles/3</a>
                <a href = "/edit-articles/3">Edit</a>
                <a href = "/delete-articles/3">Delete</a>
            </li>
        </ul>
    </body>
</html>